<script>

    var UrlGuardarEmpleado = "@Url.Action("guardarEmpleado","Home")"

</script>

<script src="~/Scripts/js_Empleados.js"></script>

<br />



<div class="container animate__animated animate__slow animate__fadeInRight">

    <div class="col-sm-8"><h2 class="display-4 animate__animated animate__slow animate__fadeInLeft"><i class="bi bi-person-circle"></i>Añadir empleados </h2></div>


    <div class="form-group row ">
        <label class="col-sm-2 col-form-label h6"><i class="bi bi-person-check"></i> Empleado</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="nom" name="nom" placeholder="Empleado">
        </div>
    </div>
    <div class="form-group row">

        <label class="col-sm-2 col-form-label"><i class="bi bi-person-lines-fill"></i> Apellidos Empleado</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="apell" name="apell" placeholder="Apellidos Empleado">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label"><i class="bi bi-person-vcard-fill"></i> DNI Empleado</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="dni" name="dni" placeholder="DNI Empleado">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label"><i class="bi bi-pin-map"></i> Domicilio</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="pre" name="pre" placeholder="Domicilio">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label"><i class="bi bi-calendar-date"></i> Fecha de nacimiento</label>
        <div class="col-sm-10">
            <input class="form-control" type="date" id="can" name="can" placeholder="Fecha de nacimiento" />
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label"><i class="bi bi-clock-fill"></i> Antiguedad</label>
        <div class="col-sm-10">
            <input type="date" class="form-control" id="ant" name="ant" placeholder="Antiguedad">
        </div>
    </div>



    <br />



    <div class="animate__animated">
        <a href="javascript:guardarEmpleado()" class="animar-boton btn btn-primary float-right animate__animated animate__slow animate__fadeInBottomRight">Guardar</a>
    </div>


</div>
