<script>

    var UrlGuardarVentas = "@Url.Action("guardarVentas", "Home")"

</script>

<script src="~/Scripts/js_Ventas.js"></script>

<br />
<div class="container animate__animated animate__slow animate__fadeInRight">

    <div class="col-sm-8"><h2 class="display-4 animate__animated animate__slow animate__fadeInLeft"><i class="bi bi-receipt"></i> Añadir Ventas </h2></div>


    <div class="form-group row">
        <label class="col-sm-2 col-form-label h6"><i class="bi bi-cash-coin"></i> Total</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="Total" name="Total" placeholder="Total">
        </div>
    </div>
    <div class="form-group row">

        <label class="col-sm-2 col-form-label"><i class="bi bi-calendar-date"></i> Fecha</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="Fecha" name="Fecha" placeholder="Fecha">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label"><i class="bi bi-clock-fill"></i> Hora</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="Hora" name="Hora" placeholder="Hora">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label"><i class="bi bi-card-heading"></i> Empleado</label>
        <div class="col-sm-10">
            <select id="idEmpleado" name="idEmpleado" class="form-control">
                <option value="Pendiente">Seleccionar</option>

                @foreach (var item in Model)
                {
    <option value="@item.id_Empleados">@item.Nombres</option>
}

            </select>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label"><i class="bi bi-card-heading"></i> ID Libro</label>
        <div class="col-sm-10">
            <input class="form-control" type="text" id="idLibro" name="idVentaLibro" placeholder="ID Libro" />
        </div>
    </div>




    <br />
    <div class="">
        <a href="javascript:guardarVentas()" class="animar-boton btn btn-primary float-right animate__animated animate__slow animate__fadeInBottomRight">Guardar</a>
    </div>
</div>
