@{ ViewBag.Title = "Home Page"; }



<body>

    <div class="row">
        <div class="jumbotron animate__animated animate__fadeIn animate__slow">
            <h1>Bienvenido</h1>
            <p class="lead">Estamos emocionados por recibirte en nuestro sistema, te damos la más cordial bienvenida a este entorno gráfico preparado exclusivamente para ti, sientete libre de explorar y conocer cada uno de los modulos que tenemos disponibles, agradecemos tu estancia</p>
        </div>

        <div class="animate__animated animate__slow animate__fadeInUp container-fluid mx-auto text-center">
            <h1>Conoce al equipo</h1>
        </div>
    </div>
    <br />

    <div class="row">
        <div class="col-md-4 animate__animated animate__fadeInLeft animate__slow">

            <div style="text-align:center;">
                <img src="~/Imagenes/Dennis.jpg" class="brand-image img-circle elevation-3" style="width: 40%; height: 50%; object-fit: cover; vertical-align: top;">
            </div>
            <h2 style="text-align:center;">DENNIS RUIZ</h2>
            <p style="text-align:center;">Desarrollador</p>
        </div>
        <div class="col-md-4 animate__animated animate__fadeInUp animate__slow">

            <div style="text-align:center;">
                <img src="~/Imagenes/JoseLuis.jpg" class="brand-image img-circle elevation-3" style="width: 70%; height: 70%; object-fit: cover; vertical-align: top;">
            </div>
            <h2 style="text-align:center;">JOSE LUIS</h2>
            <p style="text-align:center;">Desarrollador</p>
        </div>
        <div class="col-md-4 animate__animated animate__fadeInBottomRight animate__slow">

            <div style="text-align:center;">
                <img src="~/Imagenes/Jeshua.jpg" class="brand-image img-circle elevation-3" style="width: 40%; height: 50%; object-fit: cover; vertical-align: top;">
            </div>
            <h2 style="text-align:center;">JESHUA GARCIA</h2>
            <p style="text-align:center;">Desarrollador FrontEnd</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 animate__animated animate__fadeInLeft animate__slow">

            <div style="text-align:center;">
                <img src="~/Imagenes/JoseJesus.jpg" class="brand-image img-circle elevation-3" style="width: 40%; height: 50%; object-fit: cover; vertical-align: top;">
            </div>
            <h2 style="text-align:center;">JOSE DE JESUS PEREZ</h2>
            <p style="text-align:center;">Desarrollador</p>
        </div>
        <div class="col-md-6 animate__animated animate__fadeInUp animate__slow">

            <div style="text-align:center;">
                <img src="~/Imagenes/#.jpg" class="brand-image img-circle elevation-3" style="width: 70%; height: 70%; object-fit: cover; vertical-align: top;">
            </div>
            <h2 style="text-align:center;">CALEB</h2>
            <p style="text-align:center;">Desarrollador</p>
        </div>
    </div>


</body>



