<table class="table table-condensed">
    <tr>
        <th>id_Libro</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td> @item.id_Libro</td>
        </tr>
    }
</table>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<div id="editVentaModal" class="row">
    <div class="modal-content">
        <form>
            <div class="col-md-3">
                <Label>id Libro</Label>
                <input type="text" id="id_Libro" name="id" class="form-control" />
            </div>

            <input type="submit" value="Guardar cambios">
        </form>
    </div>
</div>
<script>
    function deleteRow(id) {
        // Realizar petición AJAX al controlador de Home para eliminar el empleado con el ID proporcionado
        if (confirm('¿Estás seguro de que deseas eliminar esta Venta de libros?')) {
            $.ajax({
                url: '/Home/DeleteVentaLibros',
                type: 'POST',
                data: { id: id },
                success: function () {
                    // Si la operación es exitosa, actualizar la tabla sin recargar la página
                    $('#row-' + id).remove();
                },
                error: function (xhr, textStatus, errorThrown) {
                    // Si la operación falla, mostrar un mensaje de error
                    alert('Error al eliminar la venta.');
                }
            });
        }
    }
    function prepareEditRow(id) {
        // Get employee data using id from selected row
        $.ajax({
            url: '/Home/GetVentaLibro',
            type: 'GET',
            data: { id: id },
            // if successful, function in controller returns a json data object
            // Then fill this data to the edit form, to be edited
            success: function (data, status) {
                document.getElementById('id_Venta_Libros').value = data.id_Venta_Libros;
                document.getElementById('id_Libros').value = data.id_Libros;
            },
            error: function () {
                alert('Error al preparar datos de ventas para editarse.');
            }
        });
    }
    function editRow() {
        $.ajax({
            url: '/Home/SaveEditedEmpleado',
            type: 'POST',
            async: true,
            data: {
                id: document.getElementById('id_Venta_Libros').value,
                id_Libros: document.getElementById("id_Libros").value
            },
            success: function () {
                alert('Edicion exitosa');
            },
            error: function () {
                alert('Error al editar venta');
            }
        });
        limpiarFormulario();
    }
    function limpiarFormulario() {
        document.getElementById("id_Venta_Libros").value = "";
        document.getElementById("id_Libros").value = "";
    }
</script>

