@model IEnumerable<MV_P1.Models.tbl_Ventas>

<script>

    var UrlGuardarVentas = "@Url.Action("guardarVentas", "Home")"

</script>

<script src="~/Scripts/js_Ventas.js"></script>
<div class="row">
    <div class="col-md-3">
        <Label>Total</Label>
        <input type="text" id="Total" name="Total" class="form-control" />
    </div>
    <div class="col-md-3">
        <Label>Fecha</Label>
        <input type="text" id="Fecha" name="Fecha" class="form-control" />
    </div>
    <div class="col-md-3">
        <Label>Hora</Label>
        <input type="text" id="Hora" name="Hora" class="form-control" />
    </div>
    <div class="col-md-3">
        <Label>idEmpleado</Label>
        <input type="text" id="idEmpleado" name="idEmpleado" class="form-control" />
    </div>
    <div class="col-md-3">
        <Label>idLibro</Label>
        <input type="text" id="idLibro" name="idVentaLibro" class="form-control" />
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-2">
        <a href="javascript:guardarVentas()" class="btn btn-success">Guardar</a>
    </div>
</div>

