<script>

    var UrlGuardarTipoLibros = "@Url.Action("guardarTipoLibros", "Home")"

</script>

<script src="~/Scripts/js_TipoLibros.js"></script>
<div class="row">
    <!--
    <div class="col-md-3">
        <div class="col-md-3">
            <Label>Tipo Libro</Label>

            <select class="form-control" id="idTipoLibro" name="idTipoLibro">
                <option value="sel">Seleccionar</option>
                //foreach (var item in Model)
                {
                    <option value="//item.id_TipoLibro">//item.Tematica</option>

                }
            </select>
        </div>
    </div>
    -->
    <div class="col-md-3">
        <Label>Estante</Label>
        <input type="text" id="Esta" name="Esta" class="form-control" />
    </div>
    <div class="col-md-3">
        <Label>Tematica</Label>
        <input type="text" id="Tema" name="Tema" class="form-control" />
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-2">
        <a href="javascript:guardarTipoLibros()" class="btn btn-success">Guardar</a>
    </div>
</div>