@model IEnumerable<MV_P1.Models.tbl_Ventas>

<script>

    var UrlGuardarVentas = "@Url.Action("guardarVentas", "Home")"

</script>

<script src="~/Scripts/js_Ventas.js"></script>

<br />
<div class="container">
    <div class="form-group row">
        <label class="col-sm-2 col-form-label h6"><i class="bi bi-cash-coin"></i> Total</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="Total" name="Total" placeholder="Total">
        </div>
    </div>
    <div class="form-group row">

        <label class="col-sm-2 col-form-label"><i class="bi bi-calendar-date"></i> Fecha</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="Fecha" name="Fecha" placeholder="Fecha">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label"><i class="bi bi-clock-fill"></i> Hora</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="Hora" name="Hora" placeholder="Hora">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label"><i class="bi bi-fingerprint"></i> ID Empleado</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="idEmpleado" name="idEmpleado" placeholder="ID Empleado">
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label"><i class="bi bi-card-heading"></i> ID Libro</label>
        <div class="col-sm-10">
            <input class="form-control" type="text" id="idLibro" name="idVentaLibro" placeholder="ID Libro" />
        </div>
    </div>
</div>



<br />
<div class="row">
    <div class="col-md-2">
        <a href="javascript:guardarVentas()" class="btn btn-success">Guardar</a>
    </div>
</div>

