<script>

    var UrlGuardarTipoLibros = "@Url.Action("guardarTipoLibros", "Home")"

</script>

<script src="~/Scripts/js_TipoLibros.js"></script>
<br />

<div class="container">
    <div class="form-group row">
        <label class="col-sm-2 col-form-label h6"><i class="bi bi-bookshelf"></i> Estante</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="Esta" name="Esta" placeholder="Estante">
        </div>
    </div>
    <div class="form-group row">

        <label class="col-sm-2 col-form-label"><i class="bi bi-bookmarks-fill"></i> Temática</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="Tema" name="Tema" placeholder="Temática">
        </div>
    </div>
</div>


<br />
<div class="row">
    <div class="col-md-2">
        <a href="javascript:guardarTipoLibros()" class="btn btn-success">Guardar</a>
    </div>
</div>