@{ ViewBag.Title = "Home Page"; }

<div class="jumbotron animate__animated animate__fadeIn animate__slow">
    <h1>Bienvenido</h1>
    <p class="lead">Estamos emocionados por recibirte en nuestro sistema, te damos la más cordial bienvenida a este entorno gráfico preparado exclusivamente para ti, sientete libre de explorar y conocer cada uno de los modulos que tenemos disponibles, agradecemos tu estancia</p>
</div>

<div class="animate__animated animate__slow animate__fadeInUp container-fluid mx-auto text-center">
    <h1>Conoce al equipo</h1>
</div>

<br />

<div class="row">
    <div class="col-md-4 animate__animated animate__fadeInLeft animate__slow">
        <h2>Dennis Ruiz</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4 animate__animated animate__fadeInUp animate__slow">
        <h2>JOSE LUIS</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4 animate__animated animate__fadeInBottomRight animate__slow">
        <h2>JESHUA GARCIA</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>




