<li class="nav-item">
    <a href="@Url.Action("FormularioTiposLibros","Home")" class="btn btn-primary">Agregar Tipo de libros</a>
</li>

<div class="col-sm-8"><h2>Tipos de libros </h2></div>
<table class="table table-condensed">
    <tr>
        <th>IdTiposLibros</th>
        <th>Estante</th>
        <th>Tematica</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td> @item.id_TipoLibro</td>
            <td> @item.Estante</td>
            <td> @item.Tematica</td>
        </tr>
    }
</table>
