
<!--Report options-->
<div>
    <h1>Reportes</h1>
    <p>Seleccione el tipo de reporte, y el intervalo de fechas a mostrar.</p>
</div>
<div id="reportOptions" class="row">
    <div class="col-md-3">
        <Label>Tipo de reporte</Label>
        <select id="tipoReporte" name="tipoReporte" class="form-control">
            <option value="pendiente">- - SELECCIONAR - -</option>
            <option value="ventas">Ventas</option>
            <option value="prestamos">Prestamos</option>
        </select>
    </div>
    <div class="col-md-3">
        <Label>Fecha inicio</Label>
        <input type="date" id="fechaInicio" name="fechaInicio" class="form-control" />
    </div>
    <div class="col-md-3">
        <Label>Fecha final</Label>
        <input type="date" id="fechaFinal" name="fechaFinal" class="form-control" />
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-2">
        <a href="javascript:getReporte()" class="btn btn-success">Generar reporte</a>
    </div>
</div>
<br/>

<!--Report query-->


<!--Ventas report (testing)-->
<div id="reporteVentas" class="col-sm-8">
    <h2>Ventas</h2>
    <table id="tableVentas" class="table table-condensed">
        <tr>
            <th>id_Venta</th>
            <th>Total</th>
            <th>Fecha</th>
            <th>Hora</th>
            <th>id_Empleado</th>
        </tr>
    </table>
</div>

<!--Prestamos report (testing)-->
<div id="reportePrestamos" class="col-sm-8">
    <h2>Prestamos</h2>
    <table id="tablePrestamos" class="table table-condensed">
        <tr>
            <th>Id_Prestamo</th>
            <th>FechaDeSalida</th>
            <th>FechaMaximaDeDevolucion</th>
            <th>FechaDeDevolucion</th>
            <th>Id_Usuarios</th>
            <th>Id_Tipo_de_Prestamo</th>
        </tr>
    </table>
</div>

<!-- Load up scripts after the rest of the page-->
<script>
    var UrlReportes = '@Url.Action("getReporte","Home")';
</script>
<script src="~/Scripts/js_Reportes.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
